@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
$main-color: #057056;
$light-color: #ffffff;
$dark-color: #1c1c1c;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

body,
html{
    height: 100%;
    font-family: 'Poppins',sans-serif;
}
header{
    background-color: $main-color;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav__logo{
            img{
                width: 80px;
            }
        }
        .nav__main{
            display: flex;
            justify-content: center;
            align-items: center;
            .nav__item{
                margin: 25px;
                .nav__link{
                    font-size: 18px;
                    color: $light-color;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
        .nav__btn{
            .btn{
                margin: 0 5px;
                cursor: pointer;
                padding: 1rem 2.5rem;
                outline: none;
                border: none;
                font-size: 16px;
                font-family: 'Poppins',sans-serif;
                border-radius: 8px;
                color: $main-color;
                background-color: $light-color;
            }
        }
    }
}
main{
    .banner__section{
        margin-top: 150px;
        .banner__main{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .banner__left{
                max-width: 60%;
                .banner__header{
                    h1{
                        font-size: 64px;
                        font-weight: 500;
                        line-height: 80px;
                    }
                }
                .banner__text{
                    margin-top: 40px;
                    p{
                        font-size: 18px;
                        font-weight: 400;

                    }
                }
                .banner__btn{
                    margin-top:40px;
                    button{
                        margin: 0 5px;
                        cursor: pointer;
                        padding: 1rem 2.5rem;
                        outline: none;
                        border: none;
                        font-size: 16px;
                        font-family: 'Poppins',sans-serif;
                        border-radius: 8px;
                        color: $light-color;
                        background-color: $main-color;
                    }
                }
            }
            .banner__right{
                max-width: 38%;
                .banner__img{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}