@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

$main-color: #057056;
$light-color: #ffffff;
$dark-color: #1c1c1c;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

body,
html{
    position: relative;
    height: 100%;
    font-family: 'Poppins',sans-serif;
}

.mobile__menu{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $main-color;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: 300ms all ease-in-out;
    visibility: hidden;
    padding: 0 40px;
    &.menu-active{
        transform: translateX(0);
        transition: 300ms all ease-in-out;
        visibility: visible;
    }
    .mobile__menu__main{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 25px 0;
        height: 100%;
        .mobile__top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .mobile__logo{
                width: 80px;
                img{
                    width: 100%;
                }
            }
            .mobile__menu-close{
                cursor: pointer;
                i{
                    color: $light-color;
                    font-size: 64px;
                }
            }
        }
        .nav__main{
            .nav__item{
                margin: 40px 0;
                .nav__link{
                    color: $light-color;
                    font-size: 48px;
                    font-weight: 500;
                    line-height: 48px;
                }
            }
        }
        .nav__social{
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                i{
                    color: $light-color;
                    font-size: 40px;
                }
            }
        }
    }
}

.circle-effect-first{
    position: absolute;
    left: -200px;
    top: 20%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: $main-color;
    filter: blur(500px);
    z-index: 1;
}

.circle-effect-second{
    position: absolute;
    top: 200%;
    left: -300px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: $main-color;
    filter: blur(300px);
    z-index: -1;
    
}


header{
    background-color: $main-color;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 9;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav__logo{
            img{
                width: 80px;
            }
        }
        .nav__main{
            display: flex;
            justify-content: center;
            align-items: center;
            .nav__item{
                margin: 25px;
                .nav__link{
                    font-size: 18px;
                    color: $light-color;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
        .nav__btn{
            display: flex;
            justify-content: space-between;
            align-items: center;
            display: none;
            // .btn{
            //     margin: 0 5px;
            //     cursor: pointer;
            //     padding: 1rem 2.5rem;
            //     outline: none;
            //     border: none;
            //     font-size: 16px;
            //     font-family: 'Poppins',sans-serif;
            //     border-radius: 8px;
            //     transition: 300ms all ease-in-out;
            // }
            // .log-btn{
            //     background-color: transparent;
            //     border: 1px solid $light-color;
            //     color: $light-color;
            //     &:hover{
            //         background: $light-color;
            //         color: #057056;
            //         transition: 300ms all ease-in-out;
            //     }
            // }
            // .reg-btn{
            //     background: $light-color;
            //     color: $main-color;
            //     transition: 300ms all ease-in-out;
            //     border: 1px solid $light-color;
            //     margin-right: 15px;
            //     &:hover{
            //         background-color: transparent;
            //         color: $light-color;
            //         transition: 300ms all ease-in-out;
            //     }
            // }
            .mobile-menu-burger{
                display: none;
                cursor: pointer;
                .bx{
                    font-size: 64px;
                    color: $light-color;
                }
            }
        }
    }
}
main{
    .banner__section{
        margin-top: 130px;
        .banner__main{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .banner__left{
                max-width: 50%;
                .banner__header{
                    h1{
                        font-size: 64px;
                        font-weight: 500;
                        line-height: 80px;
                    }
                }
                .banner__text{
                    margin-top: 40px;
                    p{
                        font-size: 18px;
                        font-weight: 400;

                    }
                }
                .banner__btn{
                    margin-top:40px;
                    button{
                        margin: 0 5px;
                        cursor: pointer;
                        padding: 1.5rem 2.5rem;
                        outline: none;
                        border: none;
                        font-size: 16px;
                        font-family: 'Poppins',sans-serif;
                        border-radius: 8px;
                        color: $light-color;
                        background-color: $main-color;
                    }
                }
            }
            .banner__right{
                max-width: 45%;
                .banner__img{
                    max-width: 800px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .about__section{
        margin-top: 100px;
        .about__main{
            .about__header{
                width:100%;
                h1{
                    font-size: 40px;
                }
            }
            .about__text{
                margin-top: 25px;
                width: 50%;
            }
            .about__content{
                margin-top: 50px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                img{
                    max-width: 400px;
                    transition: 800ms all ease-in-out;
                    &:hover{
                        transition: 800ms all ease-in-out;
                        transform: translateX(5%);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .team__section{
        margin-top: 120px;
        .team__main{
            width: 100%;
            .team__header{
                h1{
                    font-size: 40px;
                }
            }
            .team__text{
                width: 50%;
                margin-top: 25px;
            }
            .team__carousel{
                margin-top: 120px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .team__item{
                    margin: 0 25px;
                    max-width: 400px;
                    padding: 10px;
                    &:first-child{
                        margin: 0 15px;
                    }
                    .member__img{
                        position: relative;
                        object-fit: cover;
                        object-position: center;
                        max-width: 400px;
                        height: 400px;
                        &::before{
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #000 .7;
                            &:hover{
                                transition: 300ms all ease-in-out;
                            }
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    .team__name{
                        margin-top: 20px;
                        width: 100%;
                        h2{
                            color: $light-color;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 45px;
                        }
                    }
                    .team__category{
                        span{
                            font-size: 14px;
                            color: $light-color;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
footer{
    margin-top: 200px;
    background-color: $main-color;
    padding: 100px 0;
    .footer__main{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .footer__left{
            width: 30%;
            .footer__logo{
                img{
                    width: 70px;
                }
            }
            .footer__copyright{
                color: $light-color;
                margin-top: 35px;
                p{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 31px;
                }
            }
            .footer__social{
                margin-top: 35px;
                a{
                    color: $light-color;
                    font-size: 24px;
                    margin: 5px;
                }
            }
        }
        .footer__center{
            width: 30%;
            .list__header{
                h2{
                    color: $light-color;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 31px;
                }
            }
            .footer__nav{
                margin-top: 30px;
                .nav__item{
                    margin: 15px 0;
                    .nav__link{
                        color: $light-color;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 26px;
                    }
                }
            }
        }
        .footer__right{
            width: 30%;
            .contact__header{
                h2{
                    color: $light-color;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 31px;
                }
            }
            .contact__info{
                color: $light-color;
                margin-top: 30px;
                .email{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                }
                .phone{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                    margin-top: 15px;
                }
                .adress{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                    margin-top: 30px;
                }
            }
        }
    }
}

@media (max-width: 1280px){

}

@media (max-width: 1024px){
    .circle-effect-second{
        display: none;
    }
    header{
        .navbar{
            .nav__btn{
                .mobile-menu-burger{
                    display: block;
                }
            }
        }
    }
    main{
        .banner__section{
            .banner__main{
                flex-wrap: wrap;
                .banner__left{
                    max-width: 90%;
                }
                .banner__right{
                    margin-top: 15px;
                    max-width: 75%;
                }
            }
        }
        .about__section{
            .about__main{
                .about__header{
                    width: 100%;
                }
                .about__text{
                    width: 75%;
                }
            }
        }
        .team__section{
            .team__main{
                .team__header{
                    width: 100%;
                }
                .team__text{
                    width: 75%;
                }
            }
        }
    }
    footer{
        .footer__main{
            .footer__left{
                width: 100%;
            }
            .footer__center{
                width: 100%;
                margin-top: 20px;
            }
            .footer__right{
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}
@media (max-width: 768px){
    .mobile__menu{
        .mobile__menu__main{
            .mobile__top{
                .mobile__logo{
                    img{
                        width: 58px;
                    }
                }
                .mobile__menu-close{
                    i{
                        font-size: 58px;
                    }
                }
            }
            .nav__main{
                .nav__item{
                    .nav__link{
                        font-size: 32px;
                    }
                }
            }
            .nav__social{
                a{
                    i{
                        font-size: 32px;
                    }
                }
            }
        }
    }
    .circle-effect-first{
        width: 550px;
        height: 550px;
        left: -200px;
    }
    .circle-effect-second{
        width: 500px;
        height: 500px;
    }
    header{
        .navbar{
            .nav__logo{
                width: 50px;
                a{
                    img{
                       width: 100%; 
                    }
                }
            }
            .nav__main{
                display: none;
            }
            .nav__btn{
                display: block;
                .btn{
                    padding: 0.8rem 2rem;
                    font-size: 14px;
                }
            }
        }
    }
    main{
        .banner__section{
            .banner__main{
                .banner__left{
                    .banner__header{
                        h1{
                            font-size: 54px;
                        }
                    }
                    .banner__text{
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .about__section{
            .about__main{
                .about__header{
                    h1{

                    }
                }
                .about__text{

                }
                .about__content{
                    img{
                        max-width: 300px;
                    }
                }
            }
        }
    }
}
@media (max-width: 480px){
    main{
        .banner__section{
            .banner__main{
                .banner__left{
                    .banner__header{
                        h1{
                            font-size: 40px;
                            line-height: 60px;
                        }
                    }
                    .banner__text{
                        p{
                            font-size: 14px;
                        }
                    }
                    .banner__btn{
                        button{
                            padding: 1rem 2rem;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .about__section{
            .about__main{
                .about__header{
                    width: 100%;
                    h1{
                        font-size: 28px;
                    }
                }
                .about__text{
                    width: 100%;
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
        .team__section{
            .team__main{
                .team__header{
                    width: 100%;
                    h1{
                        font-size: 28px;
                    }
                }
                .team__text{
                    width: 100%;
                    p{
                        font-size: 14px;
                    }
                }
                .team__carousel{
                    margin-top: 80px;
                    .team__item{
                        .member__img{
                            height: 300px;
                        }
                        .team__name{
                            h2{
                                font-size: 18px;
                            }
                        }
                        .team__category{
                            span{

                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        .footer__main{
            .footer__left{
                .footer__logo{
                    img{
                        width: 50px;
                    }
                }
                .footer__copyright{
                    p{
                        font-size: 16px;
                    }
                }
                .footer__social{
                    a{
                        font-size: 20px;
                    }
                }
            }
            .footer__center{
                .list__header{
                    h2{
                        font-size: 18px;
                    }
                }
                .footer__nav{
                    .nav__item{
                        .nav__link{
                            font-size: 16px;
                        }
                    }
                }
                
            }
            .footer__right{
                .contact__header{
                    h2{
                        font-size: 18px;
                    }
                }
                .contact__info{
                    .email{
                        font-size: 16px;
                    }
                    .phone{
                        font-size: 16px;
                    }
                    .adress{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 360px){

}

